*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-size: cover;
    background: linear-gradient(45deg, #f56b00, #f52e71, #d94ba2, #7e4dbb, #26a3b0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-style: normal;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 4% 8%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-inner .nav {
    margin-left: auto;
}

.button {
    display: inline-block;
    text-decoration: none;
    appearance: none;
    padding: 12px 20px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #f1f5ff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: box-shadow 0.2s ease, transform 0.3s ease;
}

.button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.31);
}

form {
    background-color: rgb(111, 37, 234);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 36px 35px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.31);
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-top: 20px;
}

input, select {
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    width: 100%;
    background: radial-gradient(circle at 90% top, #d2c8f4 0%, #c4bbeb 10%, #b7aee2 20%, #aaa1d9 30%, #9d94d0 40%);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    box-shadow: inset 0 1px 9px rgba(255, 255, 255, 0.5);
}

input:hover, select:hover {
    box-shadow: 0 1px 12px rgba(255, 255, 255, 0.5);
}

.form-already {
    color: #e5e5e5;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
    margin: 20px auto auto;
}

.form-already a {
    text-decoration: none;
    background: radial-gradient(circle at 90% top, #746ab0 0%, #a095e6 10%, #faf9f9 20%, #c5bfff 30%, #978ef1 40%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

.form-already a:hover {
    background-position: right;
    transition: 0.5s ease-out;
}
