<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Recipe Feed</title>
</head>
<body>
<header>
    <nav class="navbar">
        <a href="/home" class="logo">Morsel</a>
        <div class="search-bar">
            <input type="text" placeholder="Search..." />
            <button>Search</button>
        </div>
    </nav>
</header>

<main>
    <section class="recipe-feed">
        <h1>Recipes</h1>
        <div class="recipes-grid" th:if="${recipes}" th:each="recipe : ${recipes}">
            <div class="recipe-card">
                <img th:src="${recipe.imageUrl}" alt="Recipe image" class="recipe-image"/>
                <div class="recipe-details">
                    <h2 th:text="${recipe.title}">Recipe Title</h2>
                    <p>By <span th:text="${recipe.authorName}">Author Name</span></p>
                    <p class="rating">Rating:
                        <span th:text="${recipe.rating}">4.5</span>
                        <span>stars</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <th:block th:insert="fragments/footer :: footer"></th:block>
</footer>
</body>
</html>
