<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/reports.css}">
<title>Login</title>
<body>
<header class="reports-header">
    <h1>System Reports</h1>
    <p>Welcome, <span th:text="${user.username}"></span>!</p>
</header>

<main class="reports-container">
    <!-- User Report Section -->
    <section class="report-section">
        <h2>User Reports</h2>
        <ul>
            <li>Total Users: <span th:text="${systemReports.totalCountUsers}"></span></li>
            <li>Active Users: <span th:text="${systemReports.totalCountActiveUsers}"></span></li>
            <li>Inactive Users: <span th:text="${systemReports.totalCountInactiveUsers}"></span></li>
            <li>Admins: <span th:text="${systemReports.totalCountAdmins}"></span></li>
            <li>Non-Admins: <span th:text="${systemReports.totalCountNonAdmins}"></span></li>
        </ul>
    </section>

    <!-- Posts Report Section -->
    <section class="report-section">
        <h2>Posts Reports</h2>
        <ul>
            <li>Total Posts: <span th:text="${systemReports.totalCountPosts}"></span></li>
            <li>Total Likes: <span th:text="${systemReports.totalCountLikes}"></span></li>
        </ul>
    </section>
    <!-- Comments Report Section -->
    <section class="report-section">
        <h2>Comments Reports</h2>
        <ul>
            <li>Total Comments: <span th:text="${systemReports.totalCountComments}"></span></li>
            <li>Total Comment Likes: <span th:text="${systemReports.totalCountCommentLikes}"></span></li>
        </ul>
    </section>

    <!-- Rating Report Section -->
    <section class="report-section">
        <h2>Rating Reports</h2>
        <ul>
            <li>Total Ratings: <span th:text="${systemReports.totalCountRatings}"></span></li>
            <li>Average Rating: <span th:text="${systemReports.averageRating}"></span></li>
        </ul>
    </section>

</main>


<script src="/js/reports.js"></script>
</body>
</html>
